[Unit]
Description=motion_detector_telegram_bot
After=syslog.target
After=network.target


[Service]
Type=forking
PIDFile=/root/house_guard/telegram_bot.pid
WorkingDirectory=/root/house_guard

User=root
Group=root


OOMScoreAdjust=-1000

ExecStart=/root/house_guard/guard_telegram_bot.pl
TimeoutSec=6000

Restart=always
[Install]
WantedBy=multi-user.target

