[Unit]
Description=motion_detector_cam2
After=syslog.target
After=network.target


[Service]
Type=simple
PIDFile=/root/house_guard/cam_2/guard.pid
WorkingDirectory=/root/house_guard/cam_2

User=root
Group=root


OOMScoreAdjust=-1000

ExecStart=/root/house_guard/cam_2/guard.py
TimeoutSec=6000

Restart=always
[Install]
WantedBy=multi-user.target

